<html>
    <head>
        <title>Premium</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <div class="wrap">
        <center><table style="align-items: center;" >
            <tr>
                <th>S. No</th>
                <th><center>Item Name</center></th>
                <th> </th>
            </tr>
            <tr>
                <td>1</td>
                <td><center>Mushroom and spinach Omlette</center></td>
                <td><a href="/paymente">Buy Now</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td><center>Tutto Bene Sandwich</center></td>
                <td><a href="/paymente">Buy Now</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td><center>Wai Wai Bhel</center></td>
                <td><a href="/paymente">Buy Now</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td><center>Arabita Penne Pasta</center></td>
                <td><a href="/paymente">Buy Now</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td><center>Apple Strudel</center></td>
                <td><a href="/paymente">Buy Now</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td><center>Fish with White sauce</center></td>
                <td><a href="/paymente">Buy Now</a></td>
            </tr>
        </table></center></div>
    </body>
    <style>
        html{
            background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.562)),url(resources/css/img/back-customers.jpg);
            font-family: "Lato";
        }
        .wrap{
            border:1px solid rgba(168, 167, 167, 0.555);
            background-color: rgba(168, 167, 167, 0.555);
            margin-top:10%;
        }
        table td,th{
            font-size: 200%;;
        }
        a:link,
        a:visited{
            text-decoration: none;
            padding:2px;
            font-size:small;
            color:white;
            border:2px solid #e67e22;
            background-color:#e67e22;
            border-radius:100px;
            margin-bottom:100px;
        }
        a:hover,
        a:active{
            border:2px solid #663810;
            background-color:#663810 ;
        }
    </style>
</html>