<html>
	<head>
		<title> Thank you! </title>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
	</head>
    	<body>
       		<!--orange=#e67e22
            	white=#f4f0f0
            	black=#333--> 
        <header>
            	<div class="row">
                	<img src= "images/logo-white.png" class="logo">
            	</div> <br>
		<center> 
	    	<div class="row">
                 <div class="transbox">
                    <div class= "transbox p">
                	<h1>Thank you<br>
			Enjoy the delicacy!</h1>
            	</div>
		</div>
		</div> </center>
</header>
<style>
body  {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.7)),url("resources/img/hero.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
                height:150px;
                width:150px;
                margin-left:680px;
                margin-top:100px;
            }
.transbox {
  margin: 3px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
  width: 320px;
  padding: 0.3px;
text-align: center;
  
}
.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  font-family: "Lato";
}
</style><br><br><br><br><br>
<a class="back" href="/index" style="text-decoration: none;color:#ffffff;margin-left:48%; margin-top:10%;font-family:Lato;font-size:120%">Continue Ordering</a>

</body>
</html>